* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 1rem 0;
}

.title {
  font-size: 3em;
  color: #35475a;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  text-shadow: -3px 3px 1px #000;
  transition: 0.2s ease;
  user-select: none;
}
.btn:hover {
  text-shadow: 0 0 3px #000;
}

h1 {
  font-size: 2em;
  color: #333;
  margin: 1rem 0;
}

h3 {
  font-size: 1em;
  color: #333;
  margin: 1rem 0;
}
