.users {
  width: 100%;
  height: auto;
  padding-bottom: 3rem;
}
.users__title {
  margin: 5rem 0;
}
.users__group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 0 6rem;
  width: 100%;
  margin: 0 auto;
}
.user {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  width: 80%;
  background-color: rgba(51, 51, 51, 0.1);
  border-radius: 0.5rem;
  backdrop-filter: blur(100px);
}
.user:hover {
  background-color: rgba(51, 51, 51, 0.2);
  backdrop-filter: blur(10px);
}
.user div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.user a {
  color: rgb(14, 115, 133);
  text-decoration: none;
  transition: color 0.2s ease;
}
.user a:hover {
  color: rgb(18, 154, 179);
}
.user img {
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
